# DATA CLEANING - CURRENT DEPRESSIVE SYMPTOMS BY SEX, AGE AND     COUTRY OF CITIZENSHIP

In [1]:
#Importing libraries
import pandas as pd
import numpy as np

In [2]:
#File path
file_path = 'hlth_ehis_mh1c.xlsx'

In [3]:
#ignore the warning messages
import warnings
warnings.filterwarnings('ignore', category=UserWarning, module='openpyxl')

In [4]:
#Print sheet names
excelfile = pd.ExcelFile(file_path)
excelfile.sheet_names

['Summary',
 'Structure',
 'Sheet 1',
 'Sheet 2',
 'Sheet 3',
 'Sheet 4',
 'Sheet 5',
 'Sheet 6',
 'Sheet 7',
 'Sheet 8',
 'Sheet 9',
 'Sheet 10',
 'Sheet 11',
 'Sheet 12',
 'Sheet 13',
 'Sheet 14',
 'Sheet 15',
 'Sheet 16',
 'Sheet 17',
 'Sheet 18',
 'Sheet 19',
 'Sheet 20',
 'Sheet 21',
 'Sheet 22',
 'Sheet 23',
 'Sheet 24',
 'Sheet 25',
 'Sheet 26',
 'Sheet 27',
 'Sheet 28']

In [5]:
# Exclude 'Summary' and 'Structure' sheets
exclude_sheets = ['Summary', 'Structure']

In [6]:
#Read sheet 1 for structure check
pd.read_excel(file_path, sheet_name='Sheet 1')

,Data extracted on 16/11/2023 15:49:29 from [ESTAT],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Dataset:,"Current depressive symptoms by sex, age and co...",NaN,NaN,NaN,NaN
1,Last updated:,16/06/2023 23:00,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,Time frequency,NaN,Annual,NaN,NaN,NaN
4,Sex,NaN,Males,NaN,NaN,NaN
5,Age class,NaN,From 15 to 24 years,NaN,NaN,NaN
6,Country of citizenship,NaN,Reporting country,NaN,NaN,NaN
7,Unit of measure,NaN,Percentage,NaN,NaN,NaN
8,Time,NaN,2014,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN
10,HLTH_PB (Labels),Depressive symptoms,NaN,Major depressive symptoms,NaN,Other depressive symptoms
11,GEO (Labels),NaN,NaN,NaN,NaN,NaN
12,European Union - 27 countries (from 2020),3.8,NaN,1.2,NaN,2.5
13,European Union - 28 countries (2013-2020),4,NaN,1.3,NaN,2.6
14,Belgium,:,NaN,:,NaN,:
15,Bulgaria,1.4,NaN,0.6,NaN,0.8
16,Czechia,0.6,NaN,0,NaN,0.6
17,Denmark,2.6,NaN,1.3,NaN,1.3
18,Germany,9.3,NaN,3.1,NaN,6.1
19,Estonia,3,NaN,0.3,NaN,2.7
20,Ireland,9,NaN,3.5,NaN,5.5
21,Greece,0.9,NaN,0,NaN,0.9
22,Spain,1.1,NaN,0.4,NaN,0.8
23,France,2.9,NaN,1.4,NaN,1.5
24,Croatia,0,NaN,0,NaN,0
25,Italy,1.6,NaN,0.4,NaN,1.2
26,Cyprus,1.5,NaN,0.3,NaN,1.2
27,Latvia,2.1,NaN,0.5,NaN,1.7
28,Lithuania,1,NaN,0.3,NaN,0.6
29,Luxembourg,9.1,NaN,5.4,NaN,3.7
30,Hungary,2.5,NaN,0.5,NaN,2
31,Malta,2.7,NaN,1,NaN,1.7
32,Netherlands,:,NaN,:,NaN,:
33,Austria,2.9,NaN,0.7,NaN,2.2
34,Poland,1.9,NaN,0.6,NaN,1.3
35,Portugal,2.7,NaN,0.5,NaN,2.3
36,Romania,1.1,NaN,0.4,NaN,0.7
37,Slovenia,5.9,NaN,2.4,NaN,3.5
38,Slovakia,1.1,NaN,0.3,NaN,0.8
39,Finland,6.1,NaN,1.7,NaN,4.4
40,Sweden,5.9,NaN,0.9,NaN,5
41,Iceland,9.6,NaN,2.5,NaN,7.1
42,Norway,5.7,NaN,1.4,NaN,4.2
43,United Kingdom,6.1,NaN,2.5,NaN,3.6
44,Serbia,:,NaN,:,NaN,:
45,Türkiye,5,NaN,1.5,NaN,3.4
46,NaN,NaN,NaN,NaN,NaN,NaN
47,Special value,NaN,NaN,NaN,NaN,NaN
48,:,not available,NaN,NaN,NaN,NaN

In [7]:
# Read metadata for sheet 1
metadata_df = pd.read_excel(file_path, skiprows=3, nrows=7, sheet_name='Sheet 1')
print(metadata_df)

               Unnamed: 0  Unnamed: 1           Unnamed: 2
0          Time frequency         NaN               Annual
1                     Sex         NaN                Males
2               Age class         NaN  From 15 to 24 years
3  Country of citizenship         NaN    Reporting country
4         Unit of measure         NaN           Percentage
5                    Time         NaN                 2014

In [8]:
# Test: Read data for Sheet 1
dft = pd.read_excel(file_path, sheet_name='Sheet 1', skiprows=11, nrows=35)
dft = pd.DataFrame(dft)
dft

,HLTH_PB (Labels),Depressive symptoms,Unnamed: 2,Major depressive symptoms,Unnamed: 4,Other depressive symptoms
0,GEO (Labels),NaN,NaN,NaN,NaN,NaN
1,European Union - 27 countries (from 2020),3.8,NaN,1.2,NaN,2.5
2,European Union - 28 countries (2013-2020),4,NaN,1.3,NaN,2.6
3,Belgium,:,NaN,:,NaN,:
4,Bulgaria,1.4,NaN,0.6,NaN,0.8
5,Czechia,0.6,NaN,0,NaN,0.6
6,Denmark,2.6,NaN,1.3,NaN,1.3
7,Germany,9.3,NaN,3.1,NaN,6.1
8,Estonia,3,NaN,0.3,NaN,2.7
9,Ireland,9,NaN,3.5,NaN,5.5
10,Greece,0.9,NaN,0,NaN,0.9
11,Spain,1.1,NaN,0.4,NaN,0.8
12,France,2.9,NaN,1.4,NaN,1.5
13,Croatia,0,NaN,0,NaN,0
14,Italy,1.6,NaN,0.4,NaN,1.2
15,Cyprus,1.5,NaN,0.3,NaN,1.2
16,Latvia,2.1,NaN,0.5,NaN,1.7
17,Lithuania,1,NaN,0.3,NaN,0.6
18,Luxembourg,9.1,NaN,5.4,NaN,3.7
19,Hungary,2.5,NaN,0.5,NaN,2
20,Malta,2.7,NaN,1,NaN,1.7
21,Netherlands,:,NaN,:,NaN,:
22,Austria,2.9,NaN,0.7,NaN,2.2
23,Poland,1.9,NaN,0.6,NaN,1.3
24,Portugal,2.7,NaN,0.5,NaN,2.3
25,Romania,1.1,NaN,0.4,NaN,0.7
26,Slovenia,5.9,NaN,2.4,NaN,3.5
27,Slovakia,1.1,NaN,0.3,NaN,0.8
28,Finland,6.1,NaN,1.7,NaN,4.4
29,Sweden,5.9,NaN,0.9,NaN,5
30,Iceland,9.6,NaN,2.5,NaN,7.1
31,Norway,5.7,NaN,1.4,NaN,4.2
32,United Kingdom,6.1,NaN,2.5,NaN,3.6
33,Serbia,:,NaN,:,NaN,:
34,Türkiye,5,NaN,1.5,NaN,3.4

In [9]:
# Read each sheet, skip metadata rows, and add columns for Age, Sex, and Time
all_dfs = {}
for sheet_name in pd.ExcelFile(file_path).sheet_names:
    if sheet_name not in exclude_sheets:
        # Define the number of rows to skip for data 
        skip_rows_metadata = 3  
        skip_rows_data = 11  # Data starts from row 12
        end_row = 46  # Set the maximum row to extract 

        # Read metadata for the current sheet
        metadata_df = pd.read_excel(file_path, skiprows=skip_rows_metadata, nrows=7, sheet_name=sheet_name)
        
       
        # Read data for the current sheet
        df = pd.read_excel(file_path, sheet_name, skiprows=skip_rows_data, nrows=end_row - skip_rows_data)

        # Extract metadata information from rows
        sex = metadata_df.iloc[1, 2]
        age_class = metadata_df.iloc[2, 2]  
        time = metadata_df.iloc[5, 2]

        # Add columns for Age, Sex, and Time using metadata information
        df['Age'] = age_class
        df['Sex'] = sex
        df['Research_Year'] = time

        all_dfs[sheet_name] = df

# Combine DataFrames
combined_df = pd.concat(all_dfs.values(), ignore_index=True)

# Display the head of the combined DataFrame
combined_df

                              HLTH_PB (Labels) Depressive symptoms Unnamed: 2  \
0                                 GEO (Labels)                 NaN        NaN
1    European Union - 27 countries (from 2020)                 3.8        NaN
2    European Union - 28 countries (2013-2020)                   4        NaN
3                                      Belgium                   :        NaN
4                                     Bulgaria                 1.4        NaN
..                                         ...                 ...        ...
975                                    Iceland                 3.9        NaN
976                                     Norway                   0        NaN
977                             United Kingdom                   :        NaN
978                                     Serbia                 7.1        NaN
979                                    Türkiye                17.1        NaN

    Major depressive symptoms Unnamed: 4 Other depressive symptoms  \
0                         NaN        NaN                       NaN
1                         1.2        NaN                       2.5
2                         1.3        NaN                       2.6
3                           :        NaN                         :
4                         0.6        NaN                       0.8
..                        ...        ...                       ...
975                       1.3        NaN                       2.6
976                         0        NaN                         0
977                         :        NaN                         :
978                       3.7        NaN                       3.4
979                      11.4        NaN                       5.6

                     Age      Sex Research_Year Unnamed: 6
0    From 15 to 24 years    Males          2014        NaN
1    From 15 to 24 years    Males          2014        NaN
2    From 15 to 24 years    Males          2014        NaN
3    From 15 to 24 years    Males          2014        NaN
4    From 15 to 24 years    Males          2014        NaN
..                   ...      ...           ...        ...
975     75 years or over  Females          2019        NaN
976     75 years or over  Females          2019        NaN
977     75 years or over  Females          2019        NaN
978     75 years or over  Females          2019        NaN
979     75 years or over  Females          2019        NaN

[980 rows x 10 columns]

In [10]:
#Print columns
print(combined_df.columns)

Index(['HLTH_PB (Labels)', 'Depressive symptoms', 'Unnamed: 2',
       'Major depressive symptoms', 'Unnamed: 4', 'Other depressive symptoms',
       'Age', 'Sex', 'Research_Year', 'Unnamed: 6'],
      dtype='object')

In [11]:
#Filter out unnmaed columns
df1 = combined_df[['HLTH_PB (Labels)', 'Depressive symptoms',
       'Major depressive symptoms', 'Other depressive symptoms',
       'Age', 'Sex', 'Research_Year']]

df1.head()

                            HLTH_PB (Labels) Depressive symptoms  \
0                               GEO (Labels)                 NaN
1  European Union - 27 countries (from 2020)                 3.8
2  European Union - 28 countries (2013-2020)                   4
3                                    Belgium                   :
4                                   Bulgaria                 1.4

  Major depressive symptoms Other depressive symptoms                  Age  \
0                       NaN                       NaN  From 15 to 24 years
1                       1.2                       2.5  From 15 to 24 years
2                       1.3                       2.6  From 15 to 24 years
3                         :                         :  From 15 to 24 years
4                       0.6                       0.8  From 15 to 24 years

     Sex Research_Year
0  Males          2014
1  Males          2014
2  Males          2014
3  Males          2014
4  Males          2014

In [12]:
#Rename first column
df1 = df1.rename(columns={'HLTH_PB (Labels)': 'Country'})

#Remove the first row, that has no information
df1.drop(0, inplace=True)

In [13]:
#Check new structure
df1.head()

,Country,Depressive symptoms,Major depressive symptoms,Other depressive symptoms,Age,Sex,Research_Year
1,European Union - 27 countries (from 2020),3.8,1.2,2.5,From 15 to 24 years,Males,2014
2,European Union - 28 countries (2013-2020),4,1.3,2.6,From 15 to 24 years,Males,2014
3,Belgium,:,:,:,From 15 to 24 years,Males,2014
4,Bulgaria,1.4,0.6,0.8,From 15 to 24 years,Males,2014
5,Czechia,0.6,0,0.6,From 15 to 24 years,Males,2014

In [14]:
# Replace  ':' for NaN
df1.replace(':', np.nan, inplace=True)

#Print Info
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 1 to 979
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    979 non-null    object
 1   Depressive symptoms        882 non-null    float64
 2   Major depressive symptoms  882 non-null    float64
 3   Other depressive symptoms  882 non-null    float64
 4   Age                        979 non-null    object
 5   Sex                        979 non-null    object
 6   Research_Year              979 non-null    object
dtypes: float64(3), object(4)
memory usage: 53.7+ KB
None

In [15]:
age_mapping = {
    'From 15 to 24 years': 20,
    'From 25 to 34 years': 30,
    'From 35 to 44 years': 40,
    'From 45 to 54 years': 50,
    'From 55 to 64 years': 60,
    'From 65 to 74 years': 70,
    '75 years or over': 80
}

# Assuming df1 is your DataFrame
df1['Age_Average'] = df1['Age'].map(age_mapping)

# Print the updated DataFrame
df1

,Country,Depressive symptoms,Major depressive symptoms,Other depressive symptoms,Age,Sex,Research_Year,Age_Average
1,European Union - 27 countries (from 2020),3.8,1.2,2.5,From 15 to 24 years,Males,2014,20
2,European Union - 28 countries (2013-2020),4.0,1.3,2.6,From 15 to 24 years,Males,2014,20
3,Belgium,NaN,NaN,NaN,From 15 to 24 years,Males,2014,20
4,Bulgaria,1.4,0.6,0.8,From 15 to 24 years,Males,2014,20
5,Czechia,0.6,0.0,0.6,From 15 to 24 years,Males,2014,20
...,...,...,...,...,...,...,...,...
975,Iceland,3.9,1.3,2.6,75 years or over,Females,2019,80
976,Norway,0.0,0.0,0.0,75 years or over,Females,2019,80
977,United Kingdom,NaN,NaN,NaN,75 years or over,Females,2019,80
978,Serbia,7.1,3.7,3.4,75 years or over,Females,2019,80
979,Türkiye,17.1,11.4,5.6,75 years or over,Females,2019,80

In [16]:
#Convert Research_Year to numeric 
df1.Research_Year = pd.to_numeric(df1.Research_Year)
df1.Research_Year = df1.Research_Year.astype(int)

print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 1 to 979
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    979 non-null    object
 1   Depressive symptoms        882 non-null    float64
 2   Major depressive symptoms  882 non-null    float64
 3   Other depressive symptoms  882 non-null    float64
 4   Age                        979 non-null    object
 5   Sex                        979 non-null    object
 6   Research_Year              979 non-null    int32
 7   Age_Average                979 non-null    int64
dtypes: float64(3), int32(1), int64(1), object(3)
memory usage: 57.5+ KB
None

In [17]:
# Drop rows where 'Country' is 'GEO (Labels)' or 'European Union - 28 countries (2013-2020)'
df1 = df1[(df1['Country'] != 'GEO (Labels)') & 
          (df1['Country'] != 'European Union - 28 countries (2013-2020)') & 
          (df1['Country'] !='European Union - 27 countries (from 2020)')]

In [18]:
# Drop columns with NaN values
df1.dropna(inplace=True)

C:\Users\Our PC\AppData\Local\Temp\ipykernel_16268\2775461893.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.dropna(inplace=True)

In [19]:
#Print data
df1

,Country,Depressive symptoms,Major depressive symptoms,Other depressive symptoms,Age,Sex,Research_Year,Age_Average
4,Bulgaria,1.4,0.6,0.8,From 15 to 24 years,Males,2014,20
5,Czechia,0.6,0.0,0.6,From 15 to 24 years,Males,2014,20
6,Denmark,2.6,1.3,1.3,From 15 to 24 years,Males,2014,20
7,Germany,9.3,3.1,6.1,From 15 to 24 years,Males,2014,20
8,Estonia,3.0,0.3,2.7,From 15 to 24 years,Males,2014,20
...,...,...,...,...,...,...,...,...
974,Sweden,10.7,6.2,4.5,75 years or over,Females,2019,80
975,Iceland,3.9,1.3,2.6,75 years or over,Females,2019,80
976,Norway,0.0,0.0,0.0,75 years or over,Females,2019,80
978,Serbia,7.1,3.7,3.4,75 years or over,Females,2019,80
979,Türkiye,17.1,11.4,5.6,75 years or over,Females,2019,80

In [20]:
# Save the DataFrame to an Excel file
df1.to_excel('Eurostat_current_depressive_symptoms.xlsx', index=False)